elasticsearch==5.3
elasticsearch-xpack==5.0.0
zappa==0.45.1
certifi
Flask==0.12.1
Flask-Cors==3.0.3
networkx==1.11
future
jmespath==0.9.3
python-louvain==0.7
addict==2.1.1
Flask-Env==1.0.1
rope==0.10.7
numpy==1.13.1
requests==2.21.0
requests-toolbelt==0.8.0
gunicorn==19.7.1
