<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LINK</title>


    <!--Let browser know website is optimized for mobile-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.0beta/css/icofont.css"
          integrity="sha384-+iJF6xK4xnr+UBchttOu5eVXU3O/+WiateNu6D76ixKwFPrlm5NkgTnAR35tgjMU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/search.min.css"/>
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/css-spinning-spinners/1.1.0/load3.css"/> -->


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/search.min.js"></script>


    <style type="text/css">
        body {
            margin: 0;
            background: #1f1f1f;
            color: lightgrey;

        }

        .landing-outer {
            display: table;
            width: 80%;
            margin-top: 50px;
        }

        .header {
            margin-bottom: 2rem;
            color: lightgrey;
        }

        .form {
            margin: 2rem;
        }

        h1 .brand {
            font-family: 'Cinzel Decorative', serif !important;
            font-size: 3rem !important;
            color: lightgrey !important;

        }

        h1 .sub {
            /*font-family: 'Cinzel', serif !important;*/
            font-size: 1.3rem !important;
            margin-top: 1rem !important;
            color: lightgrey !important;

        }

        .logo {
            margin-top: 2rem;
            filter: invert(100%);

        }

        .entity-list.header {
            color: lightgrey !important;
        }

        #search-button {
            vertical-align: bottom !important;
        }

        .masthead.segment {
            min-height: 800px;
            padding: 1em 0em;
            background: #1f1f1f
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
        }

        .masthead h1.ui.header {
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 8em 0em;
            background: #1f1f1f
        }

        .ui.vertical.stripe.alternate {
            padding: 8em 0em;
            background: #cccccc;
            color: #1f1f1f;
        }

        .ui.vertical.stripe.alternate .header {
            color: #111111 !important;
        }

        .ui.vertical.stripe .header {
            color: lightgrey !important;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe .floated.image {
            clear: both;
        }

        .ui.vertical.stripe p {
            font-size: 1.2em;
        }

        .ui.vertical.stripe li {
            font-size: 1.1em;
            line-height: 1.4em;
        }

        .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
        }

        .quote.stripe.segment {
            padding: 0em;
        }

        .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        a {
            color: #a20000;
        }

        h4 {
            font-size: 1.4em !important;
        }

        .red {
            background-color: #c22324 !important;
        }
    </style>
</head>

<body>
<div class="ui  vertical masthead center aligned segment grid" id="start">
    <div class="ui landing-outer aligned column">
        <!--src="https://cdn.rawgit.com/apierleoni/6f344c7011f6536e943c82710adc5654/raw/2e9f544c08df98586ba06e81ced4fecd5b2e978c/LINK_OT_LOGO.svg"-->

        <img class="ui small image  centered aligned logo rounded "
        src="https://cdn.rawgit.com/apierleoni/d9d2bdffcd16fe9cd0869a3bc8f8913c/raw/7eded6bcdd7fd440e5536ce9afa4f0ce49e83a21/OTLogo.svg"

        alt="LINK logo">
        <h1 class="ui header">
            <span class="brand">
                <span>L</span>
                <span>I</span>
                <span>N</span>
                <span>K</span> </span>
            <div class="sub header"><strong>LI</strong>terature co<strong>N</strong>cept <strong>K</strong>nowledgebase
            </div>
        </h1>
        <h5 class="">Search in 28M documents and 526M semantic relations</h5>


        <div class="landing-inner">
            <form id="search-form" class=" ui large form" action="{{ form_action }}" method="GET">
                <!--<div class="ui category fluid search inverted">
                    <div class="ui icon input left huge ">
                        <input class="prompt validate"
                               type="text"
                               placeholder="just type something..."
                               id="query"
                               name="query"
                               required="true">
                        <i class="icon search link circular inverted" id="search-button"></i>
                    </div>
                    <div class="results"></div>

                </div>-->

                <div class="ui  multiple search selection dropdown inverted">
                    <input type="hidden"
                           id="query"
                           name="query"
                           required="true">
                    <i class="dropdown icon"></i>
                    <div class="default text">type something...</div>
                    <div class="menu">
                    </div>
                </div>

                <button type="submit" class="ui button large submit labeled icon red" id="search-button">
                    <i class="search icon "></i>
                    GO
                </button>


            </form>

        </div>
        <div class="ui header horizontal huge link list entities inverted">
            <span class=" header item entity-list"><i class="icofont icofont-dna-alt-1 huge"
                                                      style="color: #8572d4;"></i> Genes</span>
            <span class=" header  item entity-list"><i class="icofont icofont-pulse huge" style="color: #f3a83d;"></i> Diseases</span>
            <span class=" header  item entity-list"><i class="icofont icofont-capsule huge" style="color: #48c558;"></i> Drugs</span>
            <span class=" header  item entity-list"><i class="icofont icofont-atom huge" style="color: ghostwhite;"></i> Concepts</span>

        </div>
        <div class="ui aligned centered">
            <span class="ui message inverted "><i
                    class="warning sign icon"></i>Preview! Please use a recent browser</span>
        </div>

        <div class="ui aligned centered " style="margin-top: 4rem">
            <a class="ui white label big bottom" href="#intro"><i class="ui icon arrow down"></i>Learn more</a>
        </div>


    </div>


</div>
<div class="ui segment vertical stripe  alternate grid" id="intro">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Browse semantic relations in PubMed</h3>
                <p>Explore data extracted from the complete set of PubMed abstracts. With LINK you are able to
                    explore how biomedical entities are linked together.</p>
                <h3 class="ui header">Explore Genes, Diseases, Drugs and more...</h3>
                <p>LINK is focused on three main entities: genes, diseases (including phenotypes) and drugs. When we
                    cannot identify one of the three, <strong>key concepts</strong> are extracted via Natural
                    Language Processing and used to fill the gaps</p>
                <h3 class="ui header">Generate new hypothesis</h3>
                <p>Use LINK to find new hypothesis for how a target affect disesae, repurpose existing compounds to a
                    different disease, find new trends and connections made in the literature about your target or
                    disease of interest. </p>
            </div>
            <div class="eight wide right floated column">
                <img src="https://i.imgur.com/MbZhmET.png" class="ui huge bordered circular  image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a class="ui huge button " href="#howtosearch">How to start</a>
            </div>
        </div>
    </div>
</div>
<div class="ui segment vertical stripe grid" id="howtosearch">
    <div class="ui text container">
        <h3 class="ui  header centerd aligned">Getting started</h3>
        <h4 class="ui horizontal header divider">Search for entities or concepts</h4>
        <p>Start typing in the search box</p>
        <img src="https://i.imgur.com/yj81khK.png" class="ui large centered bordered rounded  image">
        <p> You'll see a list of entities that either match your query or are very highly related to what you are
            searching for. E.g. Search for "BRAF" will suggest also "metastatic melanoma".</p>
        <img src="https://i.imgur.com/3zJ8ba5.png" class="ui huge bordered centered rounded  image">
        <p> Just select one or more entities from the drop down and press GO.</p>

        <h4 class="ui horizontal header divider">
            Why select entities?
        </h4>
        <p>Selecting an entity from the suggested list will optimize the search to recognise all the synonyms we are
            aware of.</p>
        <p>You can still search without selecting any entity if you want. Just type something and
            press GO. <br>
            E.g. you could search for a PubMed ID of an article you are interested in and use LINK to show you
            a map of related entites and concepts.</p>
        <a class="ui large centered  aligned button" href="#start">Start Now</a>
    </div>
</div>
<div class="ui segment vertical stripe  alternate grid" id="intro">
    <div class="ui middle aligned stackable grid container">
        <h3 class="ui  header centerd aligned">The technical bit</h3>
        <div class="row">
            <div class="sixteen wide column">
                <h4 class="ui horizontal header divider">Where is the data coming from?</h4>
            </div>

            <div class="eight wide column">
                <p>LINK is a service built on top of the data generated by the
                    <a href="https://library.opentargets.io" target="_blank">Open Targets Library Project</a>
                </p>
                <p>Using state of the art tools, we built a serverless pipeline (based on Apache Beam) to process the
                    all the
                    publications released by PubMed in a couple of hours of computation in Google cloud.</p>
                <p> We precompiled a set of dictionaries to recognise entities from:
                <ul>
                    <li>Genes<i class="ui icon icofont icofont-dna-alt-1"></i> and Diseases
                        <i class="ui icon icofont icofont-pulse"></i> from the <a
                                href="https://www.targetvalidation.org">Open Targets Platform</a></li>
                    <li>Phenotypes<i class="ui icon icofont icofont-pulse"></i> from the <a
                            href="http://human-phenotype-ontology.github.io/">Human Phenotype Ontology</a></li>
                    <li>Drugs<i class="ui icon icofont icofont-capsule"></i> in clinical trials of on the marked from <a
                            href="https://www.ebi.ac.uk/chembl">ChEMBL</a></li>
                    <li>Additional relevant <a href="https://www.nlm.nih.gov/mesh">MESH headings</a><i
                            class="ui icon icofont icofont-brainstorming"></i>, like anatomy, diagnostics, locations,
                        etc...
                    </li>

                </ul>
                </p>
                <p>We analyse each title and abstract with <a href="https://spacy.io/" target="_blank">spacy</a> and
                    extract key concepts and semantic relations in the form of <strong>subject-predicate-object</strong>
                    triples. This means that every time you see a link between two entities in our graphs, there is at
                    least a sentence in one abstract linking them in a subject-predicate-object structure. For sake of
                    simplicity we consider the graph undirected for now.
                </p>
                <p>
                    You can actually click on any link in the graph, see the annotated sentences, and go the original
                    paper
                </p>
            </div>
            <div class="eight wide right floated column">
                <img class="ui huge bordered centered rounded image" src="https://i.imgur.com/KiVKAR3.png">
                <i class="ui icon arrow down big floated centered aligned "></i>
                <img class="ui huge bordered centered rounded image" src="https://i.imgur.com/hwId7HR.png">
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <h4 class="ui horizontal header divider">What technology are you using?</h4>
                <p>We built a huge graph (more than 500 millions edges) but we are not using a graph database
                    to store it. Everything is saved in form of JSON files in a standard size Elasticsearch cluster.
                    It is still possible to get the data and put it into a graph database (more coming).</p>
                <p>We make use of the advanced querying capabilities of Elasticsearch to extract the set of nodes
                    relevant
                    to your query. Elasticsearch has a very nice Graph API that would be able to return all the edges to
                    build
                    graph that we show. While the Elasticsearch Graph API works great and it is lightning fast it was
                    not
                    fully customisable to our needs, so we implemented a similar strategy in our REST API.</p>
                <p>LINK REST API will start from your query, build a graph of entities related to the query and then
                    expand
                    it
                    for entities related to that seed graph, allowing you to have a bigger picture of the area you are
                    interested
                    in.
                    It will also filter out hot nodes that are not useful in our view. E.g. "cancer" would dominate
                    any graph it goes into but, being a very general term, would add very low value to the quality of
                    the
                    information provided</p>
                <p>What about the UI? The nice graphs we show are build with
                    <a href="https://github.com/Linkurious/linkurious.js/wiki">linkurious.js</a>, while the rest is a
                    simple
                    HTML5
                    page powered by <a href="https://semantic-ui.com"> Semantic UI</a></p>
            </div>
        </div>
    </div>
</div>
<div class="ui segment vertical stripe grid" id="howtosearch">
    <div class="ui text container">
        <h3 class="ui  header centerd aligned">Credits</h3>
        <p>Thank you <a href="https://www.opentargets.org">Open Targets</a></p>
        <h4>DISCLAIMER</h4>
        <p>This website is released as a proof of concept. There is no guarantee it will be regurarly updated in the
            future.</p>
    </div>
    <div class="row floated centered aligned">
        <div class="three wide column">
            Follow us<br>
            <a href="https://www.linkedin.com/company/centre-for-therapeutic-target-validation"><i
                    class="fa fa-linkedin"></i></a> |
            <a href="http://twitter.com/targetvalidate"><i class="fa fa-twitter"></i></a> |
            <a href="https://www.facebook.com/OpenTargets/"><i class="fa fa-facebook"></i></a> |
            <a href="https://github.com/opentargets"><i class="fa fa-github"></i></a>


        </div>

        <div class="three wide column">
            Contact us<br>
            <a href="mailto:contact@opentargets.org"><span class="fa fa-envelope"></span><span
                    class=""> support</span></a>
        </div>

        <div class="three wide column">
            Copyright <span class="fa fa-copyright"></span> 2018 Open Targets. All rights reserved.<br>

            <a href="http://www.ebi.ac.uk/Information/termsofuse.html">Terms of Use</a><span>&nbsp;|&nbsp;</span><a
                href="http://www.ebi.ac.uk/Information/privacy.html">Privacy</a><span>&nbsp;|&nbsp;</span><a
                href="http://www.ebi.ac.uk/Information/e-directive.html">Cookies</a>

        </div>
    </div>
</div>
<!--Import jQuery before materialize.js-->
<!-- Compiled and minified JavaScript -->

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', 'a[href^="#"]', function (event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
        });
//         $('.ui.search').search({
//             apiSettings: {
//                 url: 'autocomplete?query={query}'
//             },
//             type: 'category',
//             minCharacters: 2,
//             error: {
//                 noResults: 'Could not find any entity, just press search'
//             }
//     });
        $('.ui.dropdown').dropdown({
            allowAdditions: true,
            minCharacters: 2,
            saveRemoteData: true,
            apiSettings: {
                // this url parses query server side and returns filtered results
                url: 'autocomplete?query={query}',
                onResponse: function (data) {
                    var response = {
                        results: []
                    };
                    // translate category response to work with dropdown
                    data.flatResults.forEach(function (result) {
                        console.log(result);
                        if (result.category === 'DISEASE' ||
                            result.category === 'PHENOTYPE') {
                            response.results.push({
                                name: '<i class="ui icon icofont icofont-pulse"></i>' + result.description,
                                value: result.title
                                //as: '<div style="color:orange;"><i class="ui icon icofont icofont-pulse"></i>\' + result.description</div>'
                            })
                        } else if (result.category === 'DRUG') {
                            response.results.push({
                                name: '<i class="ui icon icofont icofont-capsule"></i>' + result.description,
                                value: result.title
                            })
                        } else if (result.category === 'GENE') {
                            response.results.push({
                                name: '<i class="ui icon icofont icofont-dna-alt-1"></i>' + result.description,
                                value: result.title
                            })
                        } else if (result.category === 'CONCEPT') {
                            response.results.push({
                                name: '<i class="ui icon icofont icofont-atom"></i>' + result.description,
                                value: result.title
                            })
                        } else {
                            response.results.push({
                                name: '<i class="ui icon icofont icofont-brainstorming"></i>' + result.description,
                                value: result.title
                            })
                        }

                    });
                    console.log(response);
                    return response;
                }
            }
        });
        $("#search-button").click(function () {
            $("#search-form").submit();
        });

    });


</script>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDomains", ["*.siteUrl.com", "*.siteUrl2.com"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//opentargets.piwikpro.com/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 9]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//opentargets.piwikpro.com/piwik.php?idsite=9" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->

</body>
</html>